
<% @posts.each do |post| %>
    <div class="container p-3 my-3 border">
    <div>
    <h3><%= link_to post.title, post_path(post.id), style: 'color:blue; text-decoration: none' %></h3>
    
    <p class="card-text"><%= post.body %></p>
    </div>
</div>
<% end%>
