html{
    font-family: Helvetica,sans-serif;
}
.submit-form{
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4; }
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .column {
        float: left;
      }
      
      .left, .right {
        width: 25%;
      }
      
      .middle {
        width: 50%;
      }
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }      