<nav class="navbar navbar-light container" style="background-color: #e3f2fd; color:blue; text_decoration:none">
<a class="navbar-brand" style="color: blue" href="#">Blog on Rails</a>
<div class="float-right">
<%= link_to 'Home', posts_path, style: 'color:blue; text-decoration: none' %>

<%= link_to 'New Post', new_post_path, style: 'color:blue; text-decoration: none' %>
<div>
</nav>
