<nav class="navbar navbar-light container" style="background-color: #e3f2fd;">
<a class="navbar-brand" href="#">Blog on Rails</a>
<div class="float-right">
<%= link_to 'Home', posts_path %>
|
<%= link_to 'New Post', new_post_path %>
<div>
</nav>